<!--
<h2>PRODUCTS</h2>
<div *ngIf="product$ |async as product">
  <h3>"{{ product.name}}"</h3>
<div>
  <label>Id:</label>{{product.id}}
</div>
<div>
  <label>Name:</label>
  <input [(ngModel)]="product.name" disabled placeholder="name"/>
</div>
<p>
  <button (click)="gotoProducts(product)">Back</button>
</p>
</div>
-->
<div class="card-body" style="border: 3px solid white;">
  <h2>Product Detail</h2>
  <div>
    <h3>"{{ product.name}}"</h3>
  <div>
    <label>Id:</label>{{product.id}}
  </div>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="product.name" placeholder="name"/>
  </div>
  <p>
    <button class="btn btn-primary" (click)="onCollapse()">Collapse</button>
  </p>
  </div>
</div>
